.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  &__back {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    position: sticky;
    z-index: 2;
    top: 80px;
  }
}


